<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Test" parallel="methods"  >
    <test verbose="2" preserve-order="true"
          name="D:/Documents for Study/Automation class/JavaPrograms/SelFramework/src/test/java/org/example/Nov/parallelTest01.java">
        <classes>
            <class name="org.example.Nov.parallelTest01">
            </class>
        </classes>
    </test>
</suite>